spring:
  application:
    name: ERPSystem-phase3-FinanceHR
  datasource:
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 30000 # 유휴 연결을 30초 후 종료
      max-lifetime: 1800000 # 연결 수명을 30분으로 제한
      leak-detection-threshold: 2000 # 2초 이상 반환되지 않는 연결 로그 출력
    writer:
      driver-class-name: com.mysql.cj.jdbc.Driver
    reader:
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true #신규
        dialect: org.hibernate.dialect.MySQLDialect
        multi-tenancy: SCHEMA # 멀티 테넌시 설정 (스키마 기반)
        tenant_identifier_resolver: com.megazone.ERPSystem_phase3_FinanceHR.common.config.multi_tenant.SchemaBasedTenantIdentifierResolver
        multi_tenant_connection_provider: com.megazone.ERPSystem_phase3_FinanceHR.common.config.multi_tenant.SchemaBasedMultiTenantConnectionProvider
    show-sql: false # SQL 쿼리를 콘솔에 출력하도록 설정
    defer-datasource-initialization: true # 데이터베이스 초기화를 지연시켜, 스키마 생성 후 데이터 초기화가 이루어지도록 설정
  web:
    resources:
      static-locations:
        - 'classpath:/static/' # 정적 리소스 위치 지정 (클래스패스 기준)
        - 'classpath:/public/' # 정적 리소스 위치 지정 (클래스패스 기준)
        - 'classpath:/resources/' # 정적 리소스 위치 지정 (클래스패스 기준)
        - 'classpath:/META-INF/resources/' # 정적 리소스 위치 지정 (클래스패스 기준)
        - 'file:src/main/frontend/dist/' # 정적 리소스 위치 지정 (파일 시스템 기준)
  flyway:
    enabled: false

  sql:
    init:
      mode: never
      data-locations:
        - classpath:initial-database/financial/company/company.sql
        - classpath:initial-database/financial/account_subject/account_subject_structure.sql
        - classpath:initial-database/financial/account_subject/account_subject_nature.sql
        - classpath:initial-database/financial/account_subject/account_subject_Standard_financial_statement.sql
        - classpath:initial-database/financial/account_subject/account_subject.sql
        - classpath:initial-database/financial/account_subject/account_subject_cash_memo.sql
        - classpath:initial-database/financial/account_subject/account_subject_fixed_memo.sql
        - classpath:initial-database/financial/account_subject/account_subject_transfer_memo.sql
        - classpath:initial-database/financial/common/financial_contact.sql
        - classpath:initial-database/financial/common/financial_bank.sql
        - classpath:initial-database/financial/client/client_category.sql
        - classpath:initial-database/financial/bank_account/bank_account_type.sql
        - classpath:initial-database/financial/common/financial_address.sql
        - classpath:initial-database/financial/common/financial_bank_account.sql
        - classpath:initial-database/financial/vat_type.sql
        - classpath:initial-database/financial/journal_entry_type_setup.sql
        - classpath:initial-database/financial/journal_entry.sql


        - classpath:initial-database/hr/employee.sql
        - classpath:initial-database/hr/role.sql
        - classpath:initial-database/hr/attendance_management.sql
        - classpath:initial-database/hr/requirement_management/JobPosting.sql

        - classpath:initial-database/financial/client/client_contact_info.sql
        - classpath:initial-database/financial/client/client_bank_account.sql
        - classpath:initial-database/financial/client/client_business_info.sql
        - classpath:initial-database/financial/client/client_financial_info.sql
        - classpath:initial-database/financial/client/client_manager_info.sql
        - classpath:initial-database/financial/client/client_liquor.sql
        - classpath:initial-database/financial/client/client.sql
        - classpath:initial-database/hr/users.sql
        - classpath:initial-database/financial/unresolved_sale_and_purchase_voucher.sql
        - classpath:initial-database/financial/unresolved_voucher.sql
        - classpath:initial-database/financial/resolved_sale_and_purchase_voucher.sql
        - classpath:initial-database/financial/resolved_voucher.sql

        - classpath:initial-database/hr/payment/employee_allowance.sql
        - classpath:initial-database/hr/payment/employee_salary_step.sql
        - classpath:initial-database/hr/payment/employee_position_salary_step.sql
        - classpath:initial-database/hr/payment/position_salary_step_allowance.sql

        - classpath:initial-database/hr/payment/employment_insurance_pension.sql
        - classpath:initial-database/hr/payment/health_insurance_pension.sql
        - classpath:initial-database/hr/payment/national_pension.sql
        - classpath:initial-database/hr/payment/long_term_care_insurance_pension.sql
        - classpath:initial-database/hr/payment/salary_ledger_date.sql
        - classpath:initial-database/hr/payment/employee_income_tax.sql
        - classpath:initial-database/hr/payment/salary_ledger.sql
        - classpath:initial-database/hr/payment/salary_ledger_allowance.sql

        - classpath:initial-database/hr/payment/salary.sql


logging:
  level:
#    root: DEBUG
    root: INFO
#    com.megazone: DEBUG
#    org.flywaydb: DEBUG
#    org.hibernate.boot.model.naming: TRACE
#    org.hibernate.SQL: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %highlight(%-5level) %logger{36} - %msg%n"

server:
  http2:
    enabled: true